# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
tryout-runner

# Test
*.test
*.out
/*.html

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Database
*.db3

# IntelliJ
/.idea

# Log
*.log

# Temporary files
*.tmp